<!--@subject {{var store.getFrontendName()}}: Aktualizacja Przesyłki nr {{var shipment.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
{* Style dodawane do {{var non_inline_styles}} jako wewnętrzny arkusz stylów *}
<!--@styles
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
    <h1>
        Witaj {{htmlescape var=$order.getCustomerName()}}!
    </h1>
    <p>
        Stan Twojego Zamówienia nr {{var order.increment_id}} to <br/>
        <strong>{{var order.getStatusLabel()}}</strong>.
    </p>
    <p>
        Możesz sprawdzić status po <a href="{{store url='customer/account/'}}">zalogowaniu do swojego konta</a>.
    </p>
    <p>
        {{var comment}}
    </p>
    <p>
        Jeżeli masz jakiekolwiek pytania dotyczące Twojego zamówienia lub innej kwestii związanej ze sklepem, wyślij nam wiadomość: <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> lub skontaktuj się telefonicznie <span class="nobr">{{config path='general/store_information/phone'}}</span>. Godziny pracy sklepu: {{var store_hours}}.
    </p>
{{template config_path="design/email/footer"}}