<!--@subject Email - Footer @-->
                        {* --[ END CONTENT GENERATED ]-- *}
                        {* --[ FOOTER ]-- *}
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center; padding:10px"><center><p style="font-size:12px; margin:0;">Dziękujemy, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>