<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body style="background:#F6F6F6; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin:0; padding:0;">
{{var non_inline_styles}}
    <div style="background:#F6F6F6; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%" align="center">
                <tr>
                    <td align="center" valign="top" style="padding:20px 0 20px 0">
                        {* --[ HEADER ]-- *}
                        <table bgcolor="FFFFFF" cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #E0E0E0;padding:20px 0 20px 0;">
                            <tr>
                                <td valign="top" style="color:#2f2f2f; padding:20px 20px 0;">
                                    <a href="{{store url=""}}">
                                        <img src="{{var logo_url}}" {{if logo_width}}width="{{var logo_width}}"{{else}}width="165"{{/if}} {{if logo_height}}height="{{var logo_height}}"{{else}}height="48"{{/if}} alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/>
                                    </a>
                                </td>
                            </tr>
                            {* --[ CONTENT ]-- *}
                            <tr>
                                <td valign="top" style="color:#2f2f2f; padding:20px;">
                                {* --[ START CONTENT GENERATED ]-- *}